<div class="row">
<div class="col-xs-6 col-md-6 ecom">

<h1>Editing Complaint</h1>

<%= render 'form', complaint: @complaint %>

<%= link_to 'Show', @complaint, class: 'btn btn-min btn-default' %> |
<%= link_to 'Back', complaints_path, class: 'btn btn-min btn-default' %>
</div>
</div>