<div class="center jumbotron">
  <h1>Welcome To The CDA (R&D)</h1>

  
   <h3>You Want To Register A Complaint? </h3>
   <h2><span class="glyphicon glyphicon-hand-right blink_me" aria-hidden="true"></span>
 <span class="blink_me">
  <%= link_to 'Click Here',  new_complaint_path, class: 'btn btn-lg btn-info' %></span></h2>
</div>